body {
  margin: 0;
  font-family: 'Gothic A1', sans-serif;
}

.nav-link {
  color: rgba(0, 0, 0, 1);
}


.nav-link.active, .nav-link:hover {
  color: #ffc107;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: none;
}

h1, h5 {
  font-weight: bold;
}

.m1vh {
  min-height: 100vh;
}

.br50 {
  border-radius: 50%;
}

.cta {
  background-color: #ffc107;
  color: #ffffff;
  border: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: 1px solid #ffc107;
  text-transform : uppercase;
  max-width: 90%;
  white-space: normal;
}

.cta:hover {
  background-color: #ffffff;
  border: 1px solid #ffc107;
  color: #ffc107;
  box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.cta:focus {
  box-shadow: none;
}


section#header {
  background-color: rgba(169, 213, 225, 0.4);
  background-repeat: no-repeat;
  background-size: auto 95%;
  background-image: url(../images/homeCooker.png);
  background-position: top right;
}

#headerPhoto {
  max-height: 95vh;
}

.card-shadow {
  box-shadow: 0 16px 48px rgba(32,41,50,0.12);
  border: none;
  border-radius: 0;
}

section#header {
  color: black;
}

section#header img {
  position: absolute;
}

.bounce1 {
  animation: bounce1 4s linear 0s infinite normal both;
}
@keyframes bounce1 {
  0% {transform: translate(0px, 0px);}
  25% {transform: translate(0px, -10px);}
  75% {transform: translate(0px, 10px);}
  100% {transform: translate(0px, 0px);}
}

.bounce2 {
  animation: bounce2 2s linear 0s infinite normal both;
}
@keyframes bounce2 {
  0% {transform: translate(0px, 0px);}
  25% {transform: translate(0px, -10px);}
  75% {transform: translate(0px, 10px);}
  100% {transform: translate(0px, 0px);}
}

.bounce3 {
  animation: bounce2 3s linear 0s infinite normal both;
}
@keyframes bounce2 {
  0% {transform: translate(0px, 0px);}
  25% {transform: translate(0px, -10px);}
  75% {transform: translate(0px, 10px);}
  100% {transform: translate(0px, 0px);}
}

#love1 {
  height: 4vh;
  top: 20vh;
  left: 20vw;
}

#love2 {
  height: 4vh;
  top: 70vh;
  left: 60vw;
}

#love3 {
  height: 5vh;
  top: 85vh;
  left: 10vw;
}

#like1 {
  height: 4vh;
  top: 15vh;
  left: 40vw;
}

#like2 {
  height: 4vh;
  top: 87vh;
  left: 47vw;
}

#like3 {
  height: 5vh;
  top: 67vh;
  left: 80vw;
}

#like4 {
  height: 4vh;
  top: 10vh;
  left: 7vw;
}

#insta1 {
  height: 5vh;
  top: 10vh;
  left: 70vw;
}

#insta2 {
  height: 5vh;
  top: 25vh;
  left: 15vw;
}

#insta3 {
  height:5vh;
  top: 67vh;
  left: 30vw;
}

#facebook1 {
  height: 4vh;
  top: 45vh;
  left: 80vw;
}

#facebook2 {
  height: 4vh;
  top: 90vh;
  left: 25vw;
}

#facebook3 {
  height: 4vh;
  top: 25vh;
  left: 60vw;
}

#fond_blanc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
}

.carousel {
  height: 344px;
}

.carousel-indicators li {
  background-color: rgba(255,193, 7, 0.2);
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.carousel-indicators .active {
  background-color: rgba(255,193, 7, 1);
}

#commentcasepasse h5, #histoire h5 {
  text-transform : uppercase;
}

section#footer {
  height: 200px;
  background-color: rgba(169, 213, 225, 1);
}
