body {
  margin: 0;
  font-family: 'Gothic A1', sans-serif;
}

h1, h5 {
  font-weight: bold;
}

.m1vh {
  min-height: 100vh;
}

.br50 {
  border-radius: 50%;
}

.cta {
  background-color: #ffc107;
  color: #ffffff;
  border: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border: 1px solid #ffc107;
  text-transform : uppercase;
  max-width: 90%;
  white-space: normal;
}

.cta:hover {
  background-color: #ffffff;
  border: 1px solid #ffc107;
  color: #ffc107;
}

.cta:focus {
  box-shadow: none;
}


section#header {
  background-color: rgba(169, 213, 225, 0.4);
  background-repeat: no-repeat;
  background-size: auto 95%;
  background-image: url(../images/homeCooker.png);
  background-position: top right;
}

#headerPhoto {
  max-height: 95vh;
}

.card-shadow {
  box-shadow: 0 16px 48px rgba(32,41,50,0.12);
  border: none;
  border-radius: 0;
}

section#header {
  color: black;
}

.carousel {
  height: 344px;
}

.carousel-indicators li {
  background-color: rgba(255,193, 7, 0.2);
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.carousel-indicators .active {
  background-color: rgba(255,193, 7, 1);
}

#commentcasepasse h5, #histoire h5 {
  text-transform : uppercase;
}
