body {
  margin: 0;
  font-family: 'Gothic A1', sans-serif;
}

.bold {
  font-weight: 800;
}

.jaune {
  color: #ffc107;
}

.nav-link {
  color: rgba(0, 0, 0, 1);
}


.nav-link.active, .nav-link:hover {
  color: #ffc107;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: none;
}

h1, h5 {
  font-weight: bold;
}

.m1vh {
  height: 100%;
  min-height: 100vh;
}

.br50 {
  border-radius: 50%;
}

.btn.btn-raised.cta{
  background-color: #ffc107;
  color: #ffffff;
  border: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: 1px solid #ffc107;
  text-transform : uppercase;
  max-width: 90%;
  white-space: normal;
}

.btn.btn-raised.cta:hover{
  background-color: #ffb407;
}



section#header {
  background-color: rgba(169, 213, 225, 0.4);
  background-repeat: no-repeat;
  background-size: auto 95%;
  background-image: url(../images/homeCooker.png);
  background-position: top right;
}

#headerPhoto {
  max-height: 95vh;
}

.card-shadow {
  box-shadow: 0 16px 48px rgba(32,41,50,0.12);
  border: none;
  border-radius: 0;
}

section#header {
  color: black;
}

section#header img {
  position: absolute;
}

.bounce1 {
  animation: bounce1 4s linear 0s infinite normal both;
}
@keyframes bounce1 {
  0% {transform: translate(0px, 0px);}
  25% {transform: translate(0px, -10px);}
  75% {transform: translate(0px, 10px);}
  100% {transform: translate(0px, 0px);}
}

.bounce2 {
  animation: bounce2 2s linear 0s infinite normal both;
}
@keyframes bounce2 {
  0% {transform: translate(0px, 0px);}
  25% {transform: translate(0px, -10px);}
  75% {transform: translate(0px, 10px);}
  100% {transform: translate(0px, 0px);}
}

.bounce3 {
  animation: bounce2 3s linear 0s infinite normal both;
}
@keyframes bounce2 {
  0% {transform: translate(0px, 0px);}
  25% {transform: translate(0px, -10px);}
  75% {transform: translate(0px, 10px);}
  100% {transform: translate(0px, 0px);}
}

#love1 {
  height: 4vh;
  top: 20vh;
  left: 20vw;
}

#love2 {
  height: 4vh;
  top: 70vh;
  left: 60vw;
}

#love3 {
  height: 5vh;
  top: 85vh;
  left: 10vw;
}

#like1 {
  height: 4vh;
  top: 15vh;
  left: 40vw;
}

#like2 {
  height: 4vh;
  top: 87vh;
  left: 47vw;
}

#like3 {
  height: 5vh;
  top: 67vh;
  left: 80vw;
}

#like4 {
  height: 4vh;
  top: 10vh;
  left: 7vw;
}

#insta1 {
  height: 5vh;
  top: 10vh;
  left: 70vw;
}

#insta2 {
  height: 5vh;
  top: 25vh;
  left: 15vw;
}

#insta3 {
  height:5vh;
  top: 67vh;
  left: 30vw;
}

#facebook1 {
  height: 4vh;
  top: 45vh;
  left: 80vw;
}

#facebook2 {
  height: 4vh;
  top: 90vh;
  left: 25vw;
}

#facebook3 {
  height: 4vh;
  top: 25vh;
  left: 60vw;
}

#fond_blanc {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.carousel {
  height: 344px;
}

.carousel-indicators li {
  background-color: rgba(255,193, 7, 0.2);
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.carousel-indicators .active {
  background-color: rgba(255,193, 7, 1);
}

#commentcasepasse h5, #histoire h5 {
  text-transform : uppercase;
}

section#footer {
  height: 200px;
  background-color: rgba(169, 213, 225, 1);
}

/* Animation Loader */
#modal_loader {
  height: 300px;
}

#main {
  position: absolute;
  transform: translate(40%, 35%);
}

.spinner {
  position: relative;
}
.spinner:before, .spinner:after {
  content: "";
  position: relative;
  display: block;
}
.spinner:before {
  animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  width: 4em;
  height: 4em;
  background-color: #ffc107;
}
.spinner:after {
  animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  bottom: -1em;
  height: 1em;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

@keyframes spinner {
  50% {
    border-radius: 50%;
    transform: scale(0.5) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}
@keyframes shadow {
  50% {
    transform: scale(0.5);
    background-color: rgba(#000,0.1);
  }
}

/* Animation Validation */

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

/* Animation error */

svg {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  &.circle {
    -webkit-animation: dash .9s ease-in-out;
    animation: dash .9s ease-in-out;
  }
  &.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash .9s .35s ease-in-out forwards;
    animation: dash .9s .35s ease-in-out forwards;
  }
}


@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
